# -------------------------
# ROOT SITE
# -------------------------
/node_modules

# -------------------------
# SANITY (inside cms/)
# -------------------------
cms/raj-portfolio/node_modules/
cms/raj-portfolio/dist/
cms/raj-portfolio/.sanity/

# -------------------------
# Logs
# -------------------------
*.log
npm-debug.log*
yarn-debug.log*

# -------------------------
# System files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Env / local configs
# -------------------------
*.local
.env
.env.*

# -------------------------
# Typescript
# -------------------------
*.tsbuildinfo